<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pro.jing.mybatis.dao.BookCURDMapper">
	
	<!-- int saveBook(Book book); -->
	<insert id="saveBook">
		INSERT INTO book(book_name, author,price,
			 publishing_company_id,publish_date
		) VALUES (#{bookName}, #{author}, #{price},
			#{publishingCompany.id},#{publishDate})
	</insert>

	<!-- int saveBookBatch(List<Book> books); -->
	<insert id="saveBookBatch">
		INSERT INTO book(book_name, author,price,
			 publishing_company_id,publish_date
		) VALUES 
		<foreach collection="list" item="book" separator=",">
			 (#{book.bookName}, #{book.author}, #{book.price},
			#{book.publishingCompany.id},#{book.publishDate})
		</foreach>
	</insert>

	<!-- int deleteBook(Integer id); -->
	<delete id="deleteBook">
		DELETE FROM book 
		WHERE id = #{id}
	</delete>
	
	<!-- int updateBook(Book book); -->
	<update id="updateBook">
		UPDATE book 
		SET book_name = #{bookName}, author = #{author}, price = #{price}, 
						publish_date = #{publishDate}
		WHERE id = #{id}
	</update>
	
	<!-- Book getBookById(Integer id); -->
	<select id="getBookById" resultType="pro.jing.mybatis.bean.Book">
		SELECT id, book_name bookName, author,
			   price, publish_date publishDate
		FROM book
		WHERE id = #{id}
	</select>
		
	<!-- List<Book> getBookList(); -->
	<select id="getBookList" resultType="pro.jing.mybatis.bean.Book">
		SELECT id, book_name bookName, author,
			   price, publish_date publishDate
		FROM book
	</select>
	
	<!-- 	Map<Integer, Book> getBookMap(); -->
	<select id="getBookMap" resultType="pro.jing.mybatis.bean.Book">
		SELECT id, book_name bookName, author,
			   price, publish_date publishDate
		FROM book
	</select>
	
	<!-- Book getBookCompanyCascade(Integer id); -->
	<resultMap type="pro.jing.mybatis.bean.Book" id="book">
		<id property="id" column="id"/>
		<result property="bookName" column="book_name"/>
		<result property="author" column="author"/>
		<result property="price" column="price"/>
		<result property="publishDate" column="publish_date"/>
		<result property="publishingCompany.id" column="pid"/>
		<result property="publishingCompany.companyName" column="company_name"/>
		<result property="publishingCompany.address" column="address"/>
	</resultMap>
	<select id="getBookCompanyCascade" resultMap="book">
		SELECT b.id, book_name, author,
			   price, publish_date, p.id pid,
			   company_name,address
		FROM book b 
		LEFT JOIN publishing_company p ON b.publishing_company_id = p.id
		WHERE b.id = #{id}
	</select>
	
	<!-- Book getBookCompanyCascade02(Integer id); -->
	<resultMap type="pro.jing.mybatis.bean.Book" id="book01">
		<id property="id" column="id"/>
		<result property="bookName" column="book_name"/>
		<result property="author" column="author"/>
		<result property="price" column="price"/>
		<result property="publishDate" column="publish_date"/>
		<association property="publishingCompany" javaType="pro.jing.mybatis.bean.PublishingCompany">
			<id property="id" column="pid"></id>
			<result property="companyName" column="company_name"/>
			<result property="address" column="address"/>
		</association>
	</resultMap>
	<select id="getBookCompanyCascade02" resultMap="book01">
		SELECT b.id, book_name, author,
			   price, publish_date, p.id pid,
			   company_name,address
		FROM book b 
		LEFT JOIN publishing_company p ON b.publishing_company_id = p.id
		WHERE b.id = #{id}
	</select>
	
	<!-- Book getBookCompanyCascade03(Integer id); -->
	<resultMap type="pro.jing.mybatis.bean.Book" id="book02">
		<id property="id" column="id"/>
		<result property="bookName" column="book_name"/>
		<result property="author" column="author"/>
		<result property="price" column="price"/>
		<result property="publishDate" column="publish_date"/>
		<association property="publishingCompany" column="publishing_company_id" select="pro.jing.mybatis.dao.PublishingCompanyMappper.getCompanyById">
		</association>
	</resultMap>
	<select id="getBookCompanyCascade03" resultMap="book02">
		SELECT *
		FROM book 
		WHERE id = #{id}
	</select>
</mapper>